.carousel-container {
    width: 80%; 
    margin: auto;
    padding: 20px 0;
  }
  
  .carousel-image {
    width: 150%;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 30px; /* Adjust as desired */
  }
  
  .swiper-slide {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .swiper-slide-active {
    transform: scale(1); /* Full size for active slide */
    opacity: 1;
  }
  
  .swiper-slide-next, .swiper-slide-prev {
    transform: scale(0.8); /* Slightly smaller for next/prev */
    opacity: 0.9;
  }
  
  .swiper-slide-next + .swiper-slide, .swiper-slide-prev + .swiper-slide {
    transform: scale(0.6); /* Even smaller for slides further back */
    opacity: 1;
  }
  
  @media (max-width:700px) {
    .carousel-container {
        width: 100%;
      }
      
  }