.register-button-container{
    position: fixed;
    top: 90%;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.register-button{
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(185, 5, 5)  
}
.register-button p{
    font-size: large;
    color: aliceblue;
}

@media (max-width:700px){
    .register-button{
        width: 85%;
    }
}