.event-popup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    place-self: center;
    top: 11%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 11;
    transform: scale(0);
    opacity: 0;  
    transition: transform 0.3s ease,background-color 0.5s ease, opacity 0.3s ease;
}
.event-popup-container.show{
    display: flex;
    transform: scale(1); /* Scale to normal size */
    opacity: 1;
}

.event-popup {
    margin-top: 80px;
    height: 500px;
    width: 500px;
    border-radius: 15px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.time-date{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-desc{
    margin-top: 20px;
}
.coordinator-details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.event-popup img { 
    margin-top: 20px;
    height: 200px;
    width: 180px;
    border-radius: 15px;
}
.rule-box{
    margin-top: 20px;
}
.rules{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.rule{
    margin-top: 10px;
}
.pop-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.pop-main button{
    margin-top: 20px;
}
.event-select-button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: white;

}

.event-selected-button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid red;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}
.pop-main .event-select-button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid red;
}
.close-icon{
    width: 100%;
    display: flex;
    justify-content: end;
}












@media (max-width:700px) {
    .event-popup-container {
        top: 9%;
    }

    .event-popup {
        margin-top: 140px;
        width: 360px;
    }

}