 .registration{
    margin-top: 5px;
 }
 .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    
 }
 .details input{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
 }