.items-section {
    margin-bottom: 20px;
    /* border: 1px black solid; */
    padding: 15px;
    border-radius: 10px;
  }
  
  .item-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .items {
    border-radius: 15px;
    width: 94%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
  }
  
  .cancel {
    display: flex;
    align-items: center;
  }
  
  
  .addMore {
    position: relative;
    margin: 10px 0 20px 3px;
    top: 6px;
    font-size: 13px;
    color: rgb(255, 85, 85);
  }
  
  .total {
    position: relative;
    top: 19px;
    display: flex;
    color: rgb(179, 179, 179);
    flex-direction: column;
    margin: 0 0 15px 5px;
    line-height: 22px;
  }
  
  .grand-total {
    font-weight: bold;
    color: #ff2010;
  }
  
  .price p {
    float: right;
  }
  
  .merchent-section {
    margin-top: 30px;
  }
  
  .merchent-bo {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  

  @media (max-width:700px) {
    .items span{
      font-size: 13px;
  
    }
  }