.checkout-flex {
  margin-top: 80px;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
}

.checkout-container {
  position: absolute;
  top: 40px;
  width: 60%;
  margin-top: 70px;
  background-color: #ff110011;
  border-radius: 20px;
}

.back {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 40px;

}

.steps {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  border-radius: 50%;
  border: 1px solid black;
  width: 25px;
  height: 25px; 
  line-height: 40px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.active {
  border: 3px solid red;
}

.step-title {
  margin-top: 10px;
  font-size: 12px;
}

.step-title.active {
  color: red;
}




/* .terms{
    position: relative;
    margin: auto 10px;
  } */

/* .terms a{
    
    color: rgb(250, 250, 45);
  } */



.continue-button {
  background-color: #ff1100;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.otp-section h2 {
  margin: 5px 0;
}

.otp-input {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 35px auto;
}

.otp-input input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background-color: white;
  color: white;
}

.otp-section p {
  text-align: center;
  margin: 25px;
}

.otp-section .p2 {
  margin: 1px auto;
  color: rgb(253, 152, 152);
}

.p2 button {
  background: transparent;
  border: none;
  font-size: medium;
  text-indent: 8px;
  cursor: pointer;
}

.continue-panel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 234, 234);
  bottom: 0;
  width: 100%;
  padding: 10px 40px;
}


@media (max-width:700px) {
  .back {
    height: 80px;
  }

  .checkout-container {
    width: 90%;
    height: 107vh;
    top: 20px;
  }

  .continue-button {
    height: 50px;
  }
}


