@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.header {
    width: 100%;
    height: 88vh;
    background-color: rgb(0, 16, 27);
}
.invite-container {
    width: 100hh;
    height: 100vh; 
    display: flex;
    color: white;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.head-video{
    position: relative;
    object-fit: cover;
    width: 100%
}
.header-overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.406)
}
.content {
    padding: 4%;
    margin-top: 60px;
    text-align: left;
    position: absolute;
}
.title-sd{
    font-size: 60px;
}

.title {
    font-size: 90px; 
    font-family: Arial;
    background: url('../../assets/image.png') no-repeat center center; 
    background-size: cover; 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}
  
.description {
    font-size: 30px;
    margin-bottom: 30px;
}

.date {
    font-size: 30px;
    margin-bottom: 30px;
}

/* From Uiverse.io by Wlidha09 */ 
.btn-white {
    display: inline-flex;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    height: 50px;
    padding: 0 20px;
    font-size: 17px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    background-color: transparent;
  }
  
  .btn-white::before {
    content: "";
    background-color: #fff;
    display: block;
    width: 45px;
    height: 1px;
    margin-right: 20px;
  }
  
  .btn-white::after {
    content: "";
    background-color: #fff;
    display: block;
    width: 0%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .btn-white:hover {
    color: #232963;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .btn-white:hover::after {
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .btn-white:hover::before {
    background-color: #232963;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  @media (max-width:1200px) {
    .title{
        font-size: 80px;
        background-color: #232963;
    }
  }
@media (max-width: 700px) {

    .invite-container {
        height: 100vh;
    }
    .title-sd{
        font-size: 38px;
    }
    .title {
        font-size: 47px;
    }

    .description {
        font-size: 20px;
        width: 77%;
    }

    .date {
        font-size: 20px;
    }

    .btn-white::before{
        width: 20px;
        margin-right: 10px;
    }
    .btn-white{
        height: 35px;
        font-size: 14px;
        padding: 10px;
    }
    .header {
        height: 90vh;
    }
}