.navbar {
    padding: 20px 4%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    /* background: linear-gradient(319deg, #000000, #540000, #630202);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    opacity: 0.5px;
    flex-wrap: wrap; */
    /* Ensure wrapping on smaller screens */
    z-index: 1000;
    /* Keeps the navbar on top */
}
.navbar.transparent {
    background-color: transparent;
}

/* Scrolled state background color */
.navbar.scrolled {
    background-color: #01000079; /* You can change this color */
}

/* Navbar on other pages (constant color) */
.navbar.other-page {
    background-color: #010000e2; /* Color for all other pages */
}
.navbar img {
    height: 60px;
    width: 180px;
    position: absolute;
    top: 8px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.nav-items a {
    color: white;
}

.nav-items a.menu-active {
    color: #9dff00;
}

.nav-items button {
    background-color: #00000000;
    height: 30px;
    width: 100px;
    color: white;
    border: 1px solid yellow;
}



.navbar h1 {
    color: rgb(255, 255, 255);
}

.navbar-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* responsive desigining */

@media(max-width:1200px) {
    .navbar img{
        width: 180px;
    }
}
@media(max-width:900px) {
    .nav-items {
        display: none;
    }

}
@media(max-width:700px) {
    .navbar {
        height: 70px;
    }
    .navbar h1 {
        font-size: 20px;
    }
    .navbar img {
        
        position: absolute;
        top: 8px;
        width: 150px;
        left: 10px;
    }
}