.event-card{
    width: 160px;
    height: 160px;
    border: 1px solid black;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    background-image: url('flower.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: transform 0.7s ease;
}
.event-card:hover{
    transform: scale(1.1);
}
.event-card p{
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.card-buttons{
    display: flex;
    justify-content: space-around;
}
.card-buttons button{
    width: 80px;
    height: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(230, 126, 126);
    color: white;
}

@media (max-width:700px) {
    .event-card{
        width: 150px;
    }
}