.ticket-cards {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ticket-card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 20px;  
    margin-top: 40px;
    width: 70%;
}

.ticket-card-view {
    height: 200px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(181, 0, 0, 0.475);
    transition: transform 1s ease;
    overflow: hidden;
    position: relative;
    justify-self: center; 
}

.ticket-card-view img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.ticket-card-view:hover {
    transform: scale(1.05);
}
.ticket-card-overview {
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: 100;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(to bottom, 
                              transparent 0%,
                              rgba(0, 0, 0, 0.5) 10%,
                              rgba(0, 0, 0, 0.6) 20%,
                              rgba(0, 0, 0, 0.7) 30%,
                              rgba(0, 0, 0, 0.9) 100%);
}
.ticket-card-overview p{
    color: rgba(255, 255, 255, 0.450);
    font-size: 10px;
}

@media (max-width: 1200px) {
    .ticket-card-list {
        grid-template-columns: repeat(3, 1fr); 
    }
    .ticket-card-view {
        height: 150px;
        width: 112px;
    }
    .ticket-cards{
        height: 80vh;
    }
}

@media (max-width: 900px) {
    .ticket-card-list {
        grid-template-columns: repeat(2, 1fr);  
    }
    .ticket-card-overview{
        padding: 10px;
    }
}