.ticket-cards {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.ticket-card-list {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;  
    column-gap: 40px;  
    margin-top: 40px;
    
}

.ticket-card-view {
    height: 240px;
    width: 170px;
    border-radius: 10px;
    background-color: rgba(181, 0, 0, 0.475);
    transition: transform 1s ease;
    overflow: hidden;
    position: relative;
    justify-self: center; 
}

.ticket-card-view img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.ticket-card-view:hover {
    transform: scale(1.05);
}
.ticket-card-overview {
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: 100;
    bottom: 0;
    padding: 35px 20px 10px;
    background: linear-gradient(to bottom, 
                              transparent 0%,
                              rgba(0, 0, 0, 0.5) 10%,
                              rgba(0, 0, 0, 0.6) 20%,
                              rgba(0, 0, 0, 0.7) 30%,
                              rgba(0, 0, 0, 0.9) 100%);
}
.ticket-card-overview h6{
    color: rgba(221, 255, 0, 0.797);
}
.ticket-card-overview p{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.450);
    font-size: 10px;
}
.ticket-heading{
    width: 65%;
    display: flex;
    justify-content: center;
}
.ticket-heading h2{
    font-size: 45px;
}

@media (max-width: 1200px) {
    .ticket-card-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .ticket-card-view {
        height: 180px;
        width: 135px;
    }
    .ticket-cards{
        margin-top: 0;
        height: 80vh;
    }
    .ticket-card-list {
        width: 40%;
    }
}   

@media (max-width: 900px) {
    .ticket-heading{
        width: 100%;
    }
    .ticket-heading h2{
        font-size: 30px;
    }
    .ticket-card-list {
        grid-template-columns: repeat(2, 1fr);  
        width: 70%;
        row-gap: 30px;
    }
    .ticket-card-overview{
        padding: 10px;
    }
    .ticket-card-overview p{
        margin-top: 5px;
        font-size: 9px;
    }
   
}