@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  /* min-height: 100vh; */
  font-family: Outfit;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  margin: auto;
}

@media (max-width:900px){
  .app{
    width: 100%;
  }
}
