.event {
    text-align: center;
    justify-content: center;
    min-height: 90vh;
}

.event-card-container {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    padding: 50px 250px;
    row-gap: 30px;
}

.image-overlay {
    position: absolute;
    height: 120%;
    width: 100%;
    z-index: -1;
    margin-top: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)), url('/pattern.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transform-origin: center;
    animation: fadeIn 1.5s ease-in forwards, flip 5s ease-in-out infinite;
}


.event-type-heading {
    margin-top: 50px;
}

.event-container {
    margin-top: 200px;
}

.event-container h1 {
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .event-card-container {
        grid-template-columns: auto auto auto;
        padding: 0;
    }
}

@media (max-width: 700px) {
    .event-card-container {
        grid-template-columns: auto auto;
        padding: 0;
    }
    .event-container {
        margin-top: 170px;
    }
}